
.p1{width:100%; background-color:#333;}
.p1{margin:0px; margin-top:30px;}

.p3{width:60%; background-color:#fff;}
.p3{margin-left:20%; position:relative;}

.p4{width:60%; background-color:#333;}
.p4{margin-left:20%; position:relative;}

.p2{width:100%;background-color:#fff; position:absolute;float:left;}

.plug{width:100%; }